<div class="header " >
    <br/>
    <div class="elementos">
        <div class="d-flex lex-row align-items-center elemento">
            <nav class="nav">
                <button class="nav-link active "  (click)="updateUser()">User Update</button>
                <button class="nav-link"   (click)="logOut()">Log out</button>
              
              </nav>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-end  mx-4 elemento" >
            <h5>Welcome, <b>{{name}}</b> &nbsp;<i class="bi bi-person-circle"></i> </h5>
        </div>
        
        
    </div>
    <hr/>
</div>

<div class="contenido">
    <div class="jumbotron">
        <h1 class="display-4">Hello,  welcome to ValpoSystem!</h1>
        <p class="lead">Giving greater weight to Information Technologies in your company makes
            that infrastructure and computer services take on enormous importance.</p>
        <hr class="my-4">
        <p>ValpoSystems, a company focused on the marketing and provision of computer services in information and communication technologies through the development, maintenance and implementation of software and platforms.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://valposystems.com/" role="button">Learn more</a>
        </p>
      </div>
</div>